rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{bookingId} {
      allow read, write: if true;
    }
    match /calendarDateOverrides/{dateId} {
      allow read, write: if true;
    }
    match /studioSettings/{settingId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
